/*

ol, ul {
  padding-left: 30px;
}



.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}



.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
} */




 body {
   text-align: center;
  font-family: "Century Gothic", Futura, sans-serif;
  box-sizing: border-box;
}

.board-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.square {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  font-size: 4rem;

  /* center p content */
  display: flex;
  justify-content: center;
  align-items: center;
}
